.div-nombre-logo{
    padding-left: 30px;
    flex-direction: column;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
}
.tam-letra-45px{
    font-size: 45px;
}
.nombre-escuela{
    display: inline-block;
}
.loco-culiacan{
    width: 85px;
    position: absolute;
    right: 30px;
    top: 27px;
}
.div-inf-actual{
    margin-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tam-letra-17px{
    font-size: 17px;
}
.tam-letra-18px{
    font-size: 18px;
}
.color-boton-lila{
    background-color: #7c0494;
}
.btn-sin-border{
    border: none;
    border-radius: 2px;
}
.tam-btn-header{
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
.div-usuario-header{
    width: 500px;
    text-align: right;
}
.header-editar-btn{
    margin-right: 10px;
}